[Unit]
Description=Kytickar Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/kytickar/app/backend
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/env node src/server.js
Restart=always
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
